* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Sans-serif, Tahoma, Geneva, Verdana;
    letter-spacing: 0.1px;
}

::placeholder {
    color: #8fa4bb;
}

.box-container {
    background-color: #4352e1;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.center-box {
    background-color: #ffffff;
    display: flex;
    height: auto;
    width: 1100px;
    border-radius: 15px;
    padding: 7px;
}


/* right box css */

.right-box {
    position: relative;
    width: 35%;
    padding: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    background-color: #f6f8f9;
    border: solid 2px #e7ebf1;
}

.top-right-box {
    display: flex;
    justify-content: space-between;
}

.top-right-box h6 {
    margin: 5px 0px 0px 5px;
    color: #61819f;
    font-size: 15px;
}

.top-right-box button {
    color: #61819f;
    background-color: #f6f8f9;
    margin: 5px 5px;
    border-radius: 50%;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.top-right-box button:hover {
    background-color: #f6f8f9;
}

.footer-rightbox {
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    padding: 0px 10px;
}


/* right box css */


/*left box css*/

.left-box {
    width: 65%;
    padding: 11px 15px 11px 20px;
}

.top-left-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.status {
    color: #8099b3;
    margin-left: -5px;
}

.button-top-left {
    display: flex;
}

.button-top-left button {
    margin-left: 13px;
    border: none;
    border-radius: 5px;
    width: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #6a88a5;
    background-color: #ffffff;
}

.button-top-left button:hover {
    background-color: rgb(221, 220, 220);
}

.slidebar {
    margin-top: 20px;
}

.slidebar h1 {
    color: #263340;
}

.slidebar-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f5f7;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
}

.slidebar-button button {
    height: 30px;
    width: 90px;
    border-radius: 6px;
    cursor: pointer;
}

.slidebar-button .b1 {
    background-color: #f2f5f7;
    border: none;
    color: #6886a4;
}

.slidebar-button .b1:hover {
    background-color: #ffffff;
}

.slidebar-button .b2 {
    background-color: #ffffff;
    border: solid 2px #d5dde5;
    color: #3a4e61;
}

.slidebar-button .b2:hover {
    background-color: #f2f5f7;
}

.footer-slidebar {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-between;
}

.left-footer {
    display: flex;
}

.left-footer>i {
    color: #bec3c9;
    font-size: 25px;
}

.footer-slidebar p {
    display: flex;
    background-color: #4352e1;
    color: #ffffff;
    width: 30px;
    margin-left: 7px;
    border-radius: 5px;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}

.footer-slidebar button {
    background-color: #ffffff;
    padding: 5px 13px 5px 13px;
    border: solid 2px #e3e8ee;
    border-radius: 5px;
    color: #6281a0;
    cursor: pointer;
}

.footer-slidebar button:hover {
    background-color: #e3e8ee;
}

.planning {
    margin-top: 15px;
    margin-left: 10px;
}

.planning p {
    margin-right: 10px;
    color: #839cb5;
}

.planning hr {
    color: rgb(224, 224, 224, 0.3);
}

.design {
    display: block;
    margin-left: 10px;
}

.design p {
    margin-right: 10px;
    color: #839cb5;
}

.design hr {
    color: rgb(224, 224, 224, 0.3);
}