.comments {
    width: 100%;
}

.allComment {
    height: 475px;
    overflow-x: auto;
}

.allComment::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f6f8f9;
    border-radius: 10px;
    background-color: #f6f8f9;
}

.allComment::-webkit-scrollbar {
    width: 5px;
    background-color: #f6f8f9;
}

.allComment::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d7dadb;
}

.comment {
    display: block;
    color: #394D60;
    margin: 20px 0px 40px 5px
}

.top-comment {
    display: flex;
    justify-content: space-between;
}

.comment p {
    display: block;
    word-wrap: wrap;
    word-break: break-all;
    margin-top: 10px;
}

.edit-input {
    display: none;
    align-items: center;
    width: 100%;
    padding-right: 3px;
    margin-top: 5px;
}

.edit-input textarea[type="text"] {
    resize: none;
    width: 80%;
    height: 28px;
    padding-left: 4px;
    padding-top: 3px;
    font-size: medium;
    border-radius: 5px;
    color: #394d60;
    border: solid 2px #e3e8ee;
}

.edit-input button {
    width: 10%;
    height: 28px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #ffffff;
    border: solid 2px #e3e8ee;
    border-radius: 5px;
    color: #6281a0;
}

.edit-input button:hover {
    background-color: #e3e8ee;
}

.edit-input i {
    pointer-events: none;
}

.user {
    display: flex;
}

.user>i {
    margin-right: 10px;
}

.remove-edit {
    display: flex;
}

.remove-edit button:hover {
    background-color: #d7dadb;
}

.edit-comment {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    color: #4b5966;
    background-color: #f6f8f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.edit-comment i {
    pointer-events: none;
}

.remove-comment {
    width: 20px;
    height: 20px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    color: #4b5966;
    background-color: #f6f8f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.remove-comment i {
    pointer-events: none;
}

.date {
    font-size: 13px;
    color: #A3B6C8;
}

.emoji {
    display: flex;
    position: relative;
    align-items: center;
}

.emoji button {
    margin-top: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    width: 30px;
    cursor: pointer;
}

.select-emoji {
    position: relative;
}

.drop-down {
    display: none;
    position: absolute;
    border: solid 1px #394D60;
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.drop-down button {
    display: block;
    margin-right: 0px;
    margin-top: 2px;
}