* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Sans-serif, Tahoma, Geneva, Verdana;
    letter-spacing: 0.1px;
}

::placeholder {
    color: #8fa4bb;
}

.box-container {
    background-color: #4352e1;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.center-box {
    background-color: #ffffff;
    display: flex;
    height: auto;
    width: 1100px;
    border-radius: 15px;
    padding: 7px;
}


/* right box css */

.right-box {
    position: relative;
    width: 35%;
    padding: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    background-color: #f6f8f9;
    border: solid 2px #e7ebf1;
}


/* right box css */


/*left box css*/

.left-box {
    width: 65%;
    padding: 11px 15px 11px 20px;
}


/*left box css*/